@import '../abstract/variaveis';
@import '../abstract/mixins';

.duvidas {
    .duvidas__container {
        padding: 4em 0;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1024px) {
            max-width: 1240px;
            margin: 0 auto;
            padding: 4em 2em;
        }
        .duvidas__info {
            text-align: center;
            .duvidas__info--titulo {
                @include titulo(1.5);
                width: 80%;
                margin: 0 auto;
            }
            .duvidas__info--texto {
                @include texto(0.8);
                @include responsivo(desktop) {
                    max-width: 420px;
                    margin: 0 auto;
                }
            }
        }
        .duvidas__acordeao {
            padding: 2em 0;
            width: 80%;
            margin: 0 auto;
            text-align: left;

            @media screen and (min-width: 1024px) {
                max-width: 420px;
                margin: 0 auto;
            }

            .duvidas__acordeao--titulo {
                @include titulo(0.8);
                border-bottom: 1px solid $cor-linha;
                padding: 1em 0;
                transition: 0.5s;
                cursor: pointer;
                &:first-of-type {
                    border-top: 1px solid $cor-linha;
                }
                &::after {
                    @include imagem('/assets/images/icon-arrow.svg', 14px, 14px);  
                    content: '';
                    padding: 0;   
                    float: right;
                    rotate: (360deg);
                    transition: 0.5s;               
                }
                &.active::after {
                    rotate: (180deg);
                    transition: 0.5s;
                    filter: sepia(1);
                }
                &:hover {
                    @include textoHover();
                }
            }
            .duvidas__acordeao--paleta {
                overflow: hidden;
                transition: 0.5s;
                max-height: 0;
                .duvidas__acordeao--texto {
                    @include texto(0.8);
                    padding: 1em 0;
                }
            }
        }
        .duvidas__botao {
            @include botao($cor-fundo, $cor-terciaria);
            margin: 1em auto;
            transition: 0.2s;
            &:hover {
                @include botaoHover($cor-fundo, $cor-terciaria, $cor-fundo);
            }
        }
    }
}