@import '../abstract/variaveis';
@import '../abstract/mixins';

.intro {
    .intro__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        .intro__banner {
            .intro__imagem {
                @include imagem('/assets/images/illustration-hero.svg', 40vh, 100vw);
            }
        }
    .intro__info {
        .intro__info--titulo {
            @include titulo(2);
        }
        .intro__info--texto {
            @include texto();
        }
        .intro__info--botoes {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .intro__info--botao {
                &:first-of-type {
                    @include botao($cor-fundo, $cor-terciaria);
                }
                &:last-of-type {
                    @include botao($cor-quartenaria, $cor-principal);
                }
            }
        }
    }
    }
}