@import '../abstract/variaveis';
@import '../abstract/mixins';

.recursos {
    .recursos__container {
        text-align: center;
        padding: 4em 0;
        .recursos__info {
            .recursos__info--titulo {
                @include titulo(1.5);
            }
            .recursos__info--texto {
                @include texto(0.8);
            }
        }
    .recursos__opcoes {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1em auto 0 auto;
        position: relative;
        .recursos__opcao {
            padding: 1em 0;
            border-top: 1px solid $cor-linha;
            color: $cor-principal;
            font-size: $tamanho-texto * 1;
            cursor: pointer;
            &:last-of-type {
                border-bottom: 1px solid $cor-linha;
            }
            &.active {
                //content: '';
                position: absolute;
                border-bottom: 4px solid $cor-botao;
                top: 0;
                left: 25%;
                width: 50%
            }
        }
    }
    
    
    .recursos__conteudo {
        .recursos__banner {
            .recursos__imagem {
                @include imagem('/assets/images/illustration-features-tab-1.svg', 30vh, 80vw);
            }
        }
        .recursos__botao {
            @include botao($cor-fundo, $cor-terciaria);
            margin-top: 1em;
        }
    }
    }
}