@import '../abstract/variaveis';
@import '../abstract/mixins';

.recursos {
    .recursos__container {
        text-align: center;
        padding: 4em 0;

        @media screen and (min-width: 1024px) {
            max-width: 1240px;
            margin: 0 auto;
            padding: 4em 2em;
        }
        .recursos__info {
            .recursos__info--titulo {
                @include titulo(1.5);
            }
            .recursos__info--texto {
                @include texto(0.8);
                @include responsivo(desktop) {
                    width: 450px;
                    margin: 0 auto;
                }
            }
        }
    .recursos__opcoes {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1em auto 0 auto;
        position: relative;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: center;
            gap: 4em;
        }

        .recursos__opcao {
            padding: 1em 0;
            border-top: 1px solid $cor-linha;
            color: $cor-principal;
            font-size: $tamanho-texto * 1;
            position: relative;
            transition: 0.2s;
            cursor: pointer;
            @media screen and (min-width: 1024px) {
                border-top: none;
                border-bottom: 1px solid $cor-linha;
                &:hover {
                    @include textoHover();
                }
            }

            &:last-of-type {
                border-bottom: 1px solid $cor-linha;
            }
            /*&:first-of-type::after {
                content: '';
                position: absolute;
                border-bottom: 4px solid $cor-botao;
                bottom: 0;
                left: 25%;
                width: 50%
            }*/
            &.active:after {
                content: '';
                position: absolute;
                border-bottom: 4px solid $cor-botao;
                bottom: 0;
                left: 25%;
                width: 50%
            }
        }
    }
    .recursos__conteudo {
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding: 3em 0;
            margin: 0 auto;
            //position: relative;
        }
        .recursos__banner {
            .recursos__imagem {
                @include imagem('/assets/images/illustration-features-tab-1.svg', 30vh, 40vw);
                @include responsivo(desktop) {
                    //width: 40vw;
                    background-position: left;
                    //text-align: left;
                }
            }
        }
        .recursos__info {
            @media screen and (min-width: 1024px) {
                display: flex;
                flex-direction: column;
                //padding: 0 2em;
                //position: absolute;
                //left: 60%;
                align-self: left;
                
            }
            
            .recursos__info--texto {
                padding: 2em 3em;
                @media screen and (min-width: 1024px) {
                    padding: 2em 0;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            .recursos__botao {
                @include botao($cor-fundo, $cor-terciaria);
                margin-top: 1em;
                @include responsivo(desktop) {
                    display: flex;
                    justify-content: center;
                    align-self: flex-start;
                    &:hover {
                        @include botaoHover($cor-fundo, $cor-terciaria, $cor-fundo);
                    }
                }
            }
        }
    }
    }
}