@import './variaveis';

@mixin botao($corFundo, $corTexto) {
    background: $corFundo;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px $cor-secundaria;
    color: $corTexto;
    padding: 1em;
    text-decoration: none;
    display: inline-block;
    font-size: $tamanho-texto * 0.7;
}

@mixin titulo($multiplicador) {
    font-size: $tamanho-texto * $multiplicador;
    font-weight: 500;
    line-height: 1.2em;
    color: $cor-principal;
}

@mixin texto($multiplicador) {
    font-size: $tamanho-texto * $multiplicador;
    padding: 1em 3em;
    line-height: 1.5em;
    color: $cor-secundaria
}

@mixin imagem($url, $altura, $largura) {
    background-image: url($url);
    height: $altura;
    width: $largura;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 2em 0;
}

@mixin responsivo($tamanho) {
    @if $tamanho == desktop {
        @media screen and (min-width: 1024px) { @content; }
    }
}