@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$tamanho-texto: 18px;
$fonte-familia: 'Rubik', sans-serif;
$fonte-peso: 400;

$cor-principal: hsl(229, 31%, 21%);
$cor-secundaria: hsl(229, 8%, 60%);
$cor-botao: hsl(0, 94%, 66%);
$cor-fundo: hsl(231, 69%, 60%);
