$tamanho-texto: 18px;
$fonte-familia: 'Rubik', sans-serif;

$cor-principal: hsl(229, 31%, 21%);
$cor-secundaria: hsl(229, 8%, 60%);
$cor-terciaria: #ffffff; 
$cor-quartenaria: #f7f7f7;
$cor-botao: hsl(0, 94%, 66%);
$cor-fundo: hsl(231, 69%, 60%);
