body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.cabecalho__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 2em;
  position: relative;
}
.cabecalho__container .cabecalho__logo {
  z-index: 999;
}
.cabecalho__container .cabecalho__botao {
  display: none;
}
.cabecalho__container .cabecalho__rotulo .cabecalho__menu-hamburguer {
  background-image: url("/assets/images/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 22px;
  z-index: 999;
  position: relative;
}
.cabecalho__container .cabecalho__botao:checked ~ .cabecalho__rotulo > .cabecalho__menu-hamburguer {
  background-image: url("/assets/images/icon-close.svg");
}
.cabecalho__container .cabecalho__botao:checked ~ .nav {
  display: flex;
  flex-direction: column;
}
.cabecalho__container .cabecalho__botao:checked ~ .cabecalho__logo {
  background-image: url("/assets/images/logo-bookmark.svg");
  filter: brightness(10);
}
.cabecalho__container .nav {
  position: absolute;
  display: none;
  background-color: hsl(229deg, 31%, 21%);
  top: 0;
  left: 0;
  right: 0;
  padding: 5em 0;
  height: 100vh;
  visibility: visible;
  opacity: 0.95;
}
.cabecalho__container .nav .nav__lista {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.cabecalho__container .nav .nav__lista .nav__item {
  padding: 1em 0;
  border-top: 1px solid hsl(229deg, 8%, 60%);
}
.cabecalho__container .nav .nav__lista .nav__item .nav__link {
  text-decoration: none;
  text-transform: uppercase;
  max-width: 80%;
  letter-spacing: 2px;
  color: white;
}
.cabecalho__container .nav .nav__lista .nav__item .login {
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5em 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cabecalho__container .cabecalho__redes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: 15em auto 0 auto;
}
.cabecalho__container .cabecalho__redes .cabecalho__rede:first-of-type {
  background-image: url("/assets/images/icon-facebook.svg");
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 2em 0;
}
.cabecalho__container .cabecalho__redes .cabecalho__rede:last-of-type {
  background-image: url("/assets/images/icon-twitter.svg");
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 2em 0;
}

.intro .intro__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.intro .intro__container .intro__banner .intro__imagem {
  background-image: url("/assets/images/illustration-hero.svg");
  height: 40vh;
  width: 100vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 2em 0;
}
.intro .intro__container .intro__info .intro__info--titulo {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2em;
  color: hsl(229deg, 31%, 21%);
}
.intro .intro__container .intro__info .intro__info--texto {
  padding: 2em 3em;
  line-height: 1.5em;
  color: hsl(229deg, 8%, 60%);
}
.intro .intro__container .intro__info .intro__info--botoes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.intro .intro__container .intro__info .intro__info--botoes .intro__info--botao:first-of-type {
  background: hsl(231deg, 69%, 60%);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px hsl(229deg, 8%, 60%);
  color: #ffffff;
  padding: 1em;
  text-decoration: none;
}
.intro .intro__container .intro__info .intro__info--botoes .intro__info--botao:last-of-type {
  background: #f7f7f7;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px hsl(229deg, 8%, 60%);
  color: hsl(229deg, 31%, 21%);
  padding: 1em;
  text-decoration: none;
}

.recursos {
  text-align: center;
  padding: 4em 0;
}
.recursos .recursos__container .recursos__info .recursos__info--titulo {
  font-size: 27px;
  font-weight: 500;
  line-height: 1.2em;
  color: hsl(229deg, 31%, 21%);
}
.recursos .recursos__container .recursos__info .recursos__info--texto {
  padding: 2em 3em;
  line-height: 1.5em;
  color: hsl(229deg, 8%, 60%);
}
.recursos .recursos__container .recursos__opcoes {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1em auto 0 auto;
  position: relative;
}
.recursos .recursos__container .recursos__opcoes .recursos__opcao {
  padding: 1em 0;
  border-top: 1px solid hsla(229deg, 8%, 60%, 0.308);
  color: hsl(229deg, 31%, 21%);
  font-size: 18px;
}
.recursos .recursos__container .recursos__opcoes .recursos__opcao:last-of-type {
  border-bottom: 1px solid hsla(229deg, 8%, 60%, 0.308);
}
.recursos .recursos__container .recursos__opcoes .recursos__opcao.active {
  position: absolute;
  border-bottom: 4px solid hsl(0deg, 94%, 66%);
  top: 0;
  left: 25%;
  width: 50%;
}
.recursos .recursos__container .recursos__conteudo .recursos__banner .recursos__imagem {
  background-image: url("/assets/images/illustration-features-tab-1.svg");
  height: 30vh;
  width: 80vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 2em 0;
}
.recursos .recursos__container .recursos__conteudo .recursos__botao {
  background: hsl(231deg, 69%, 60%);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px hsl(229deg, 8%, 60%);
  color: #ffffff;
  padding: 1em;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */